{{ define "main" }}

  <section style="padding:10%">
    <div style="  display: flex; justify-content: center; align-items: center; gap: 2rem; flex-wrap: wrap; "> 
        <div ><img style="  max-width: 250px; border-radius: 8px; height: auto;" src="/images/logo-375.png" alt="Profile Picture" style="max-width:200px; border-radius:8px;">
        </div>
    </div>
  </section>
<section style="
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 2rem;
    margin: 2rem auto;
    width: 70%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
">

    <div>

        <h2 style="margin-top: 0;">
            Herzlich willkommen auf meiner Webseite.
        </h2>

        <p>
            Mein Name ist Andrea, ich bin passionierte Limnologin
            & begeisterte Wissensvermittlerin.
        </p>

        <p>
            💚 Biologin auf Mission für Wasser & Wissen.<br>
            🌍 Limnologie & Bildungsarbeit aus einer Hand.<br>
            🔬 Projekte in MUC & bundesweit.
        </p>

        <p style="font-size: 10px;">
            Unsere Welt hat so viele Wunder zu bieten.
            Spionieren wir sie gemeinsam bis ins kleinste Detail aus!
            #SpyingOnScience
        </p>

    </div>

</section>

  <section style="background-color: white;  background: #d7dcd8;       /* white background */
  border: 1px solid #ddd;    /* subtle border */
  border-radius: 8px;        /* rounded corners */
  padding: 2rem;             /* inner spacing */
  margin: 2rem auto;         /* spacing between sections */
  width:70%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05); /* soft shadow */
  transition: transform 0.2s ease, box-shadow 0.2s ease;">
    <a href="{{ (site.GetPage "news").RelPermalink }}" class="section-link">
        <h2>Aktuelles & Termine.</h2>
        <div ><img style="  width: 70%; border-radius: 8px; height: auto;" src="/images/kalender.png" alt="Profile Picture" style="max-width:60%; border-radius:8px;">
    </a>
  </section>


  <section style="background-color: #f9f9f9;  background: #d7dcd8;       /* white background */
  border: 1px solid #ddd;    /* subtle border */
  border-radius: 8px;        /* rounded corners */
  padding: 2rem;             /* inner spacing */
  margin: 2rem auto;         /* spacing between sections */
  width:70%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05); /* soft shadow */
  transition: transform 0.2s ease, box-shadow 0.2s ease;">
    <a href="{{ (site.GetPage "limnologie").RelPermalink }}" class="section-link">
        <h2>Limnologin. </h2>
        <div ><img style="  width: 70%; border-radius: 8px; height: auto;" src="/images/diatoms.png" alt="Profile Picture" style="max-width:60%; border-radius:8px;">
    </a>
  </section>

  <section style="background-color: #f9f9f9;  background: #d7dcd8;       /* white background */
  border: 1px solid #ddd;    /* subtle border */
  border-radius: 8px;        /* rounded corners */
  padding: 2rem;             /* inner spacing */
  margin: 2rem auto;         /* spacing between sections */
  width:70%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05); /* soft shadow */
  transition: transform 0.2s ease, box-shadow 0.2s ease;">
    <a href="{{ (site.GetPage "wisskomm").RelPermalink }}" class="section-link">
        <h2>Referentin.</h2>
        <div ><img style="  width: 70%; border-radius: 8px; height: auto;" src="/images/scicomm.png" alt="Profile Picture" style="max-width:60%; border-radius:8px;">
    </a>
  </section>



  <section style="background-color: #f9f9f9;  background: #d7dcd8;       /* white background */
  border: 1px solid #ddd;    /* subtle border */
  border-radius: 8px;        /* rounded corners */
  padding: 2rem;             /* inner spacing */
  margin: 2rem auto;         /* spacing between sections */
  width:70%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05); /* soft shadow */
  transition: transform 0.2s ease, box-shadow 0.2s ease;"
   onMouseOut="this.style.color='#00F'">
    <a href="{{ (site.GetPage "ueber").RelPermalink }}" class="section-link">
        <h2>Über mich.</h2>
        <div ><img style="  max-width: 70%; border-radius: 8px; height: auto; "  src="/images/me-smile.png" alt="Profile Picture" style="max-width:60%; border-radius:8px;">
    </a>
  </section>


{{ end }}


